<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> KfreezePop </title>
  <meta name="KfreezePop &C Derik Strattan" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="welcome.css.scss" rel="stylesheet" media="screen">


  <link rel="icon"
  type="image/png" href="Favicon.ico">

  <!-- Glyphicons -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="glyphicons-halflings-regular.woff" rel="stylesheet">

</head>

<body>

    <!-- Topbar
    ================================================== -->
    <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to 'Home', root_url %></li>
              <li><%= link_to 'About', about_path %></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boy Groups <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">2AM</a></li>
                  <li><a href="#">2PM</a></li>
                  <li><a href="#">BAP</a></li>
                  <li><a href="#">BEAST</a></li>
                  <li><a href="#">BIG BANG</a></li>
                  <li><a href="#">CNBLUE</a></li>
                  <li><a href="#">EXO</a></li>
                  <li><a href="#">F. CUZ</a></li>
                  <li><a href="#">FT ISLAND</a></li>
                  <li><a href="#">INFINITE</a></li>
                  <li><a href="#">MBLAQ</a></li>
                  <li><a href="#">NU'EST</a></li>
                  <li><a href="#">SHINee</a></li>
                  <li><a href="#">SS501</a></li>
                  <li><a href="#">SUPER JUNIOR</a></li>
                  <li><a href="#">TEEN TOP</a></li>
                  <li><a href="#">TVXQ</a></li>
                  <li><a href="#">U-KISS</a></li>
                  <li><a href="#">ZE:A</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Girl Groups <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">2NE1</a></li>
                  <li><a href="#">4MINUTE</a></li>
                  <li><a href="#">AFTER SCHOOL</a></li>
                  <li><a href="#">APINK</a></li>
                  <li><a href="#">BEAST</a></li>
                  <li><a href="#">BROWN EYED GIRLS</a></li>
                  <li><a href="#">CHOCOLAT</a></li>
                  <li><a href="#">DALSHABET</a></li>
                  <li><a href="#">F(X)</a></li>
                  <li><a href="#">GIRL'S DAY</a></li>
                  <li><a href="#">GIRL'S GENERATION</a></li>
                  <li><a href="#">KARA</a></li>
                  <li><a href="#">MISS A</a></li>
                  <li><a href="#">SECRET</a></li>
                  <li><a href="#">SISTAR</a></li>
                  <li><a href="#">T-ARA</a></li>
                  <li><a href="#">WONDER GIRLS</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Male Solo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">JAY PARK</a></li>
                  <li><a href="#">K. WILL</a></li>
                  <li><a href="#">KIM HYUN JOONG</a></li>
                  <li><a href="#">KIM JONG KOOK</a></li>
                  <li><a href="#">PSY</a></li>
                  <li><a href="#">RAIN</a></li>
                  <li><a href="#">SEO IN GUK</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Female Solo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">AILEE</a></li>
                  <li><a href="#">BoA</a></li>
                  <li><a href="#">HEYNE</a></li>
                  <li><a href="#">IU</a></li>
                  <li><a href="#">JUNIEL</a></li>
                  <li><a href="#">KIM HYUNA</a></li>
                  <li><a href="#">KIM YERIM</a></li>
                  <li><a href="#">KIM YUNA</a></li>
                  <li><a href="#">LEE HYORI</a></li>
                  <li><a href="#">NS YOON-G</a></li>
                  <li><a href="#">SON DAM BI</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hip Hop <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">DYNAMIC DUO</a></li>
                  <li><a href="#">GAEKO</a></li>
                  <li><a href="#">LEESSANG</a></li>
                  <li><a href="#">PRIMARY</a></li>
                  <li><a href="#">SIMON D</a></li>
                </ul>
              </li>
              <% if current_user.present? %>
              Welcome <%= current_user.user_name %>! <span><%= link_to "Profile", current_user %></span> | <%= link_to 'Sign Out', destroy_user_session_path %>

              <% else %>
              <li><%= link_to "Sign in", user_session_path, class: "btn btn-primary btn-sm" %></li>
              <li><%= link_to 'Register', new_user_session_path %></li>
              <% end %>
              <%= notice %>
              <%= alert %>

            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
        </div><!-- /.navbar-inner -->
      </header><!-- /.navbar -->

      <!-- End navigation HTML -->

      <!-- Begin logo header -->
      <div id="logo">
        <a title="KFreezePop" href="">
          <%= image_tag "Header.png" %></a>
        </div>

        <div class="clear"></div>

        <!-- Carousel -->
        <div id="kp-slider" class="carousel slide"><!-- class of slide for animation -->
          <div class="carousel-inner">
            <div class="item active"><!-- class of active since it\'s the first item -->
              <%= image_tag "fx_home_2.jpg" %>
              <div class="carousel-caption">
                <p>F(x)</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag "big-bang-still-alive_Home.jpg" %>
              <div class="carousel-caption">
                <p>Caption text here</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag "SNSD_Home2.jpg" %>
              <div class="carousel-caption">
                <p>Caption text here</p>
              </div>
            </div>
            <div class="item">
              <%= image_tag "TVXQ_Home.jpg" %>
              <div class="carousel-caption">
                <p>Caption text here</p>
              </div>
            </div>
          </div><!-- /.carousel-inner -->
          <!--  Next and Previous controls below href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#kp-slider" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#kp-slider" data-slide="next">&rsaquo;</a>
        </div>
        <!-- /.carousel -->

        <div id="footer">
          <li><%= link_to "Contact", contact_path %></li>
        </div>


        <!-- Le javascript -->
        <!-- jQuery (necessary for Bootstrap\'s JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="javascripts/bootstrap.min.js"></script>

        <!-- Javascript for carousel here -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="js/jquery-2.0.3.min.js"></script>


        <script>
        $(document).ready(function(){
          $('.carousel').carousel({
            interval: 5000
          });
        });
        </script>

        <!-- Javascript for Dropdown Menu -->
      </body>
      </html>
