<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> KfreezePop </title>
  <meta name="KfreezePop &C Derik Strattan" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="welcome.css.scss" rel="stylesheet" media="screen">


  <link rel="icon"
  type="image/png" href="Favicon.ico">

  <!-- Glyphicons -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="glyphicons-halflings-regular.woff" rel="stylesheet">

</head>

<body>

<!-- Topbar
================================================== -->

  <!-- Begin logo header -->
  <div id="logo">
    <a title="KFreezePop" href="">
      <%= image_tag "Header.png" %></a>
  </div>

  <div class="clear"></div>


  <!-- Carousel -->
  <div id="kp-slider" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">
      <div class="item active"><!-- class of active since it\'s the first item -->
        <%= image_tag "fx_home_2.jpg" %>
        <div class="carousel-caption">
          <p>F(x)</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "big-bang-still-alive_Home.jpg" %>
        <div class="carousel-caption">
          <p>Big Bang</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "SNSD_Home2.jpg" %>
        <div class="carousel-caption">
          <p>Girls Generation</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "TVXQ_Home.jpg" %>
        <div class="carousel-caption">
          <p>DBSK</p>
        </div>
      </div>
    </div><!-- /.carousel-inner -->
    <!--  Next and Previous controls below href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#kp-slider" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#kp-slider" data-slide="next">&rsaquo;</a>
  </div>
  <!-- /.carousel -->


    <!-- Le javascript -->
    <!-- jQuery (necessary for Bootstrap\'s JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Javascript for carousel here -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/jquery-2.0.3.min.js"></script>


    <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 5000
      });
    });
    </script>

    <!-- Javascript for Dropdown Menu -->
</body>
</html>
