<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Home', root_url %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boy Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="2am">2AM</a></li>
              <li><a href="2pm">2PM</a></li>
              <li><a href="bap">BAP</a></li>
              <li><a href="beast">BEAST</a></li>
              <li><a href="big-bang">BIG BANG</a></li>
              <li><a href="cn-blue">CNBLUE</a></li>
              <li><a href="exo">EXO</a></li>
              <li><a href="f-cuz">F.CUZ</a></li>
              <li><a href="ft-island">FT ISLAND</a></li>
              <li><a href="infinite">INFINITE</a></li>
              <li><a href="mblaq">MBLAQ</a></li>
              <li><a href="mblaq">MBLAQ</a></li>
              <li><a href="nu-est">NU'EST</a></li>
              <li><a href="shinee">SHINee</a></li>
              <li><a href="ss501">SS501</a></li>
              <li><a href="super-junior">SUPER JUNIOR</a></li>
              <li><a href="teen-top">TEEN TOP</a></li>
              <li><a href="tvxq">TVXQ</a></li>
              <li><a href="u-kiss">U-KISS</a></li>
              <li><a href="vixx">VIXX</a></li>
              <li><a href="ze-a">ZE:A</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Girl Groups <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="2ne1">2NE1</a></li>
              <li><a href="4minute">4MINUTE</a></li>
              <li><a href="after_school">AFTER SCHOOL</a></li>
              <li><a href="apink">APINK</a></li>
              <li><a href="brown_eyed_girls">BROWN EYED GIRLS</a></li>
              <li><a href="chocolat">CHOCOLAT</a></li>
              <li><a href="dalshabet">DALSHABET</a></li>
              <li><a href="fx">F(X)</a></li>
              <li><a href="girls_day">GIRL'S DAY</a></li>
              <li><a href="girls_generation">GIRL'S GENERATION</a></li>
              <li><a href="kara">KARA</a></li>
              <li><a href="miss_a">MISS A</a></li>
              <li><a href="secret">SECRET</a></li>
              <li><a href="sistar">SISTAR</a></li>
              <li><a href="t_ara">T-ARA</a></li>
              <li><a href="wonder_girls">WONDER GIRLS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Male Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="jay_park">JAY PARK</a></li>
              <li><a href="k_will">K. WILL</a></li>
              <li><a href="kim_hyun_joong">KIM HYUN JOONG</a></li>
              <li><a href="kim_jong_kook">KIM JONG KOOK</a></li>
              <li><a href="psy">PSY</a></li>
              <li><a href="rain">RAIN</a></li>
              <li><a href="seo_in_guk">SEO IN GUK</a></li>
              <li><a href="seo_in_guk">TAEYANG</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Female Solo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="ailee">AILEE</a></li>
              <li><a href="boa">BoA</a></li>
              <li><a href="heyne">HEYNE</a></li>
              <li><a href="iu">IU</a></li>
              <li><a href="juniel">JUNIEL</a></li>
              <li><a href="kim_hyuna">KIM HYUNA</a></li>
              <li><a href="kim_yerim">KIM YERIM</a></li>
              <li><a href="kim_yuna">KIM YUNA</a></li>
              <li><a href="lee_hyori">LEE HYORI</a></li>
              <li><a href="ns_yoon_g">NS YOON-G</a></li>
              <li><a href="son_dam_bi">SON DAM BI</a></li>
              <li><a href="son_dam_bi">SEO IN YOUNG</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hip Hop <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="beenzino">BEENZINO</a></li>
              <li><a href="dynamic_duo">DYNAMIC DUO</a></li>
              <li><a href="g_dragon">G DRAGON</a></li>
              <li><a href="gaeko">GAEKO</a></li>
              <li><a href="leessang">LEESSANG</a></li>
              <li><a href="outsider">OUTSIDER</a></li>
              <li><a href="primary">PRIMARY</a></li>
              <li><a href="simon_d">SIMON D</a></li>
              <li><a href="top">T.O.P.</a></li>
              <li><a href="verbal_jint">VERBAL JINT</a></li>
            </ul>
          </li>
          <%= notice %>
          <%= alert %>

        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
  </header><!-- /.navbar -->

  <!-- End navigation HTML -->


<%= alert %>
<%= yield %>

</body>
</html>
